@font-face {
    font-family: 'Brooklyn';
    src: url('/assets/fonts/Brooklyn-Bold.eot');
    src: url('/assets/fonts/Brooklyn-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Brooklyn-Bold.woff2') format('woff2'),
         url('/assets/fonts/Brooklyn-Bold.woff') format('woff'),
         url('/assets/fonts/Brooklyn-Bold.ttf') format('truetype'),
         url('/assets/fonts/Brooklyn-Bold.svg#Brooklyn-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
